
.vs/Fast3D_Overwriter/v15/.suo
.vs/Fast3D_Overwriter/v15/Server/sqlite3/db.lock
.vs/Fast3D_Overwriter/v15/Server/sqlite3/storage.ide
.vs/Fast3D_Overwriter/v15/Server/sqlite3/storage.ide-shm
.vs/Fast3D_Overwriter/v15/Server/sqlite3/storage.ide-wal
*.exe
*.z64
Fast3D_Overwriter/bin/Debug/Fast3D_Overwriter.exe.config
Fast3D_Overwriter/bin/Debug/Fast3D_Overwriter.pdb
Fast3D_Overwriter/bin/Release/Fast3D_Overwriter.exe.config
Fast3D_Overwriter/bin/Release/Fast3D_Overwriter.pdb
Fast3D_Overwriter/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Fast3D_Overwriter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.csproj.CoreCompileInputs.cache
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.csproj.FileListAbsolute.txt
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.csproj.GenerateResource.cache
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.csprojAssemblyReference.cache
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.MainForm.resources
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.pdb
Fast3D_Overwriter/obj/Debug/Fast3D_Overwriter.Properties.Resources.resources
Fast3D_Overwriter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fast3D_Overwriter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fast3D_Overwriter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Fast3D_Overwriter/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.csproj.CoreCompileInputs.cache
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.csproj.FileListAbsolute.txt
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.csproj.GenerateResource.cache
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.csprojAssemblyReference.cache
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.MainForm.resources
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.pdb
Fast3D_Overwriter/obj/Release/Fast3D_Overwriter.Properties.Resources.resources
Fast3D_Overwriter/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Fast3D_Overwriter/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Fast3D_Overwriter/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
